{{!-- <section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center mb-4">Product Categories</h2>
                <div class="list-group">
                    <a href="/" class="list-group-item list-group-item-action">
                        <img src="https://sd5glzwq-3000.inc1.devtunnels.ms/product-image/65806e20e3a0463190afb807.jpg"
                            alt="Home" class="category-image"> Home
                    </a>
                    <a href="/category/flours" class="list-group-item list-group-item-action">
                        <img src="https://sd5glzwq-3000.inc1.devtunnels.ms/product-image/65806e20e3a0463190afb807.jpg"
                            alt="Flours" class="category-image"> Flours
                    </a>
                    <a href="/category/groceries" class="list-group-item list-group-item-action">
                        <img src="https://sd5glzwq-3000.inc1.devtunnels.ms/product-image/65806e20e3a0463190afb807.jpg"
                            alt="Groceries" class="category-image"> Groceries
                    </a>
                    <a href="/category/vegetables" class="list-group-item list-group-item-action">
                        <img src="https://sd5glzwq-3000.inc1.devtunnels.ms/product-image/65806e20e3a0463190afb807.jpg"
                            alt="Vegetables" class="category-image"> Vegetables
                    </a>
                    <a href="/category/fruits" class="list-group-item list-group-item-action">
                        <img src="https://sd5glzwq-3000.inc1.devtunnels.ms/product-image/65806e20e3a0463190afb807.jpg"
                            alt="Fruits" class="category-image"> Fruits
                    </a>
                </div>
            </div>
        </div>
    </div>




</section>
<script>

</script> --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Your Page Title</title>
</head>

<body class="bg-white-100">

    <section class="mt-5">
        <div class="container mx-auto">
            <h2 class="text-center mb-4 text-2xl"> STORES </h2>
            <div class="flex flex-wrap">
                {{#each stores}}
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <div 
                        class="w-full bg-white border border-primary rounded-md p-4 hover:bg-primary hover:text-white transition-all duration-300">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <img src="https://img.freepik.com/premium-photo/assortment-exotic-fruits-isolated_272787-852.jpg?size=626&ext=jpg&ga=GA1.1.1249537372.1695249140&semt=sph"
                                alt="Fruits" class="w-full h-full object-cover rounded-md">
                        </div>
                        <a href="/owner/store/view/{{this._id}}" class="block text-center text-black font-semibold">{{this.name}}</a>
                    </div>
                </div>
                {{/each}}


            </div>
        </div>
    </section>


    <section class="mt-5">
        <div class="container mx-auto">
            <h2 class="text-center mb-4 text-2xl">Product Categories</h2>
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <button type="button" onclick="window.location.href='/'"
                        class="w-full bg-white border border-primary rounded-md p-4 hover:bg-primary hover:text-white transition-all duration-300">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <img src="https://img.freepik.com/premium-vector/flour-icons-set_98402-1536.jpg?size=626&ext=jpg&ga=GA1.1.1249537372.1695249140&semt=sph"
                                alt="Flours" class="w-full h-full object-cover rounded-md">
                        </div>
                        <span class="block text-center font-semibold">Flours</span>
                    </button>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <button type="button" onclick="window.location.href='/category/Spices'"
                        class="w-full bg-white border border-primary rounded-md p-4 hover:bg-primary hover:text-white transition-all duration-300">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <img src="https://img.freepik.com/free-vector/herb-spice-poster_1284-11649.jpg?size=626&ext=jpg&ga=GA1.1.1249537372.1695249140&semt=sph"
                                alt="Groceries" class="w-full h-full object-cover rounded-md">
                        </div>
                        <span class="block text-center font-semibold">Spices</span>
                    </button>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <button type="button" onclick="window.location.href='/category/vegetables'"
                        class="w-full bg-white border border-primary rounded-md p-4 hover:bg-primary hover:text-white transition-all duration-300">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <img src="https://img.freepik.com/free-vector/vegetables-fruits-rainbow-poster_1284-9929.jpg?size=626&ext=jpg&ga=GA1.1.1249537372.1695249140&semt=sph"
                                alt="Vegetables" class="w-full h-full object-cover rounded-md">
                        </div>
                        <span class="block text-center font-semibold">Vegetables</span>
                    </button>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/4 p-4">
                    <button type="button" onclick="window.location.href='/category/fruits'"
                        class="w-full bg-white border border-primary rounded-md p-4 hover:bg-primary hover:text-white transition-all duration-300">
                        <div class="aspect-w-4 aspect-h-3 mb-2">
                            <img src="https://img.freepik.com/premium-photo/assortment-exotic-fruits-isolated_272787-852.jpg?size=626&ext=jpg&ga=GA1.1.1249537372.1695249140&semt=sph"
                                alt="Fruits" class="w-full h-full object-cover rounded-md">
                        </div>
                        <span class="block text-center font-semibold">Fruits</span>
                    </button>
                </div>
            </div>
        </div>
    </section>


</body>

</html>