<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
</head>

<body class="bg-gray-100">
    <form action="/ulogin" method="post" class="max-w-md mx-auto p-6 bg-white rounded-md shadow-md mt-10">
        <h1> Welcome {{ user.name}} </h1>

        <a href="/logout" title=""
            class="items-center justify-center hidden px-2 py-3 mt-10 ml-10 text-base font-semibold text-white transition-all duration-200 bg-red-600 border border-transparent rounded-md lg:inline-flex hover:bg-red-700 focus:bg-red-700"
            role="button"> Log out </a>

        <a href="/cart" title=""
            class="items-center justify-center hidden px-2 py-3 mt-10 ml-10 text-base font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md lg:inline-flex hover:bg-blue-700 focus:bg-blue-700"
            role="button"> Cart </a>

        <a href="/orders" title=""
            class="items-center justify-center hidden px-2 py-3 mt-10 ml-10 text-base font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md lg:inline-flex hover:bg-blue-700 focus:bg-blue-700"
            role="button"> Orders </a>

    </form>
</body>

</html>